<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">REGIS 💯</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp; &nbsp;
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         {% if user.is_authenticated %}


         <li class="nav-item">
          <a class="nav-link" href="{% url "add_record" %}">Add Record ➕</a>
        </li> 
         

          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout ↩️</a>
          </li> 
            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url "register_user" %}">Register</a>
              </li> 

            <li class="nav-item">
                <a class="nav-link" href="{% url "home"%}">Login</a>
              </li> 
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="mailto:contact@example.com">For Queries 📞</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://x.com/@WingChun57" target="_blank">Follow on X 🐦</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>